<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <title th:text="#{application_name}">Developer Bookshelf</title>

    <!-- Main style sheet -->
    <link href="../../static/css/main.css" media="screen" rel="stylesheet" th:href="@{/css/main.css}"/>

    <!-- Bootstrap 3 -->
    <link href="../../static/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/bootstrap-theme.min.css" media="screen" rel="stylesheet"
          th:href="@{/css/bootstrap-theme.min.css}"/>

    <!-- Bootstrap Datepicker -->
    <!-- As shown here {@link http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=yyyy-mm-dd&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox} -->
    <link href="../../static/css/bootstrap-datepicker3.standalone.min.css" media="screen" rel="stylesheet"
          th:href="@{/css/bootstrap-datepicker3.standalone.min.css}"/>

</head>

<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <h1 th:text="(${book.id == null}? #{label_book_new}: #{label_book_update})">Form Title</h1>

    <form action="#" enctype="multipart/form-data" method="post"
          th:action="@{/create}" th:object="${book}">

        <div th:if="${message}">
            <div id="message" th:class="${message.type}" th:text="${message.message}">Message area</div>
        </div>

        <label for="name" th:text="#{label_book_name} + '*'">Label Book Name</label>
        <input id="name" size="60" th:field="*{name}" type="text"/>
        <div th:class="error" th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Name Errors</div>
        <p/>

        <label for="publisher" th:text="#{label_book_publisher} + '*'">Label Book Publisher</label>
        <input id="publisher" size="60" th:field="*{publisher}" type="text"/>
        <div th:class="error" th:errors="*{publisher}" th:if="${#fields.hasErrors('publisher')}">Publisher Errors</div>
        <p/>

        <label for="dateOfPublication" th:text="#{label_date_of_publication}">Label date of publication</label>
        <input id="dateOfPublication" readonly="readonly" th:field="*{dateOfPublication}" type="text"/>
        <div th:errors="*{dateOfPublication}" th:if="${#fields.hasErrors('dateOfPublication')}">Date of Publication
            Error
        </div>
        <p/>

        <label for="bookDescription" th:text="#{label_book_description}">Label Book Description</label>
        <textarea cols="60" id="bookDescription" rows="8" th:field="*{description}">Book Description textarea</textarea>
        <div th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Book Description Error</div>
        <p/>

        <label for="file" th:text="#{label_book_photo}">Label Book Photo</label>
        <input name="file" type="file"/>
        <p/>

        <input th:field="*{id}" type="hidden"/>

        <button class="btn btn-success " th:text="#{btn_save}" type="submit">Save</button>

        <button class="btn btn-primary" th:text="#{btn_reset}" type="reset">Reset</button>

    </form>
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>


<!-- Bootstrap-Datepicker JavaScript-->
<!-- As shown here {@link http://eternicode.github.io/bootstrap-datepicker/?markup=input&format=yyyy-mm-dd&weekStart=&startDate=&endDate=&startView=0&minViewMode=0&todayBtn=false&clearBtn=false&language=en&orientation=auto&multidate=&multidateSeparator=&keyboardNavigation=on&forceParse=on#sandbox} -->
<script src="../../static/js/bootstrap-datepicker.min.js" th:src="@{/js/bootstrap-datepicker.min.js}"></script>

<!-- CKEditor JavaScript -->
<script src="../../static/ckeditor/standard/ckeditor.js" th:src="@{/ckeditor/standard/ckeditor.js}"></script>
<script src="../../static/ckeditor/standard/adapters/jquery.js"
        th:src="@{/ckeditor/standard/adapters/jquery.js}"></script>

<!-- Bootstrap-Datepicker & CKEditor -->
<script>
    $(function () {
        $('#dateOfPublication').datepicker({
            format: "yyyy-mm-dd",
            autoclose: true,
        });

        $("#bookDescription").ckeditor({
            toolbar: 'Basic',
            uiColor: '#CCCCCC'
        });
    });
</script>
</body>
</html>

