<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Bootstrap 3 -->
    <link href="../../static/css/bootstrap.min.css" media="screen" rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"/>
    <link href="../../static/css/bootstrap-theme.min.css" media="screen" rel="stylesheet"
          th:href="@{/css/bootstrap-theme.min.css}"/>

</head>
<body>
<div th:fragment="footer">
    <hr/>
    <div id="userinfo">
        <div sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
            <span th:text="#{label_welcome} + ', ' + ${#authentication.name}">Welcome, Bob</span>
        </div>
    </div>

    <div>
        <a href="list.html" th:href="@{/}" th:text="#{home_text}">Home</a> | <a href="list.html"
                                                                                th:href="@{?lang=en}"
                                                                                th:text="#{label_en_CA}">English</a> |
        <a href="list.html"
           th:href="@{?lang=fr}" th:text="#{label_fr_CA}">French</a>
    </div>


    <!-- JavaScript Files -->
    <!-- jQuery -->
    <script src="../../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

    <!-- Bootstrap 3 -->
    <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</div>
</body>
</html>